/* Prapavija */
body{background-color:lightblue;
background-image: url("vikings.jpg");
background-repeat: no-repeat;
/* background-position: 200px 200px; */
background-size: cover;
background-attachment:fixed ;}
#div{
    border: 1px solid black;
    width: 600px;
    height:500px;
    background-image: url("ragnar.jpg");
    float: right;
    margin-top: 278px;
    background-repeat:no-repeat ;
    background-size: cover;

}

